<!DOCTYPE html>
<html lang='en'>
<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Unique visitor counter using cookies">
	<meta name="keywords" content="node.js, cookies">
	<meta name="author" content="Kaustuva Ghosh">
	<title>Unique visitor count</title>

	<style>
    	@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
	    body{
	       font-family: 'Roboto', sans-serif;
	       text-align: center;
	    }
	</style>
	

</head>
<body>
<p>Hi, Human you are visitor number <%= usercount %></p>
<img src="https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/teaching_f1cm.svg">
</body>
</html>